body,html {
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	background: url(../IMAGES/lapy.jpg) no-repeat center center fixed;
	background-size: cover;
}

h1 {
	font-size: 3rem;
	color: white;
	text-decoration: underline;
}

/*hr {
	color: #c74444;
	width: 60px;
	max-width: 60px;
}*/
.buffer {
	height: 10rem;
}

.btn {
	padding: 10px 20px;
	font-weight: 700;
	border-radius: 200px;
}

.btn-primary {
	background: #c74444;
	border-color: #c74444;
	margin-top: 10px;
}

